DEBUG=True

FLASK_APP=run.py
# FLASK_ENV=production
FLASK_ENV=Debug
FLASK_DEBUG=1

WEBHOOK_PASSPHRASE=MZXW633PN5XW6MZX
ENCRYPTION_KEY=81b_knGXqjLWhzIe0EG0nDxgdI5kuoOsLlNcrKniDuE=


ASSETS_ROOT=/static/assets

DATABASE_URL=postgres://pcmtukeedlztax:a13a6a4c7242caf88c15278ef5923b2fac1a62c5a8394b3f54726c44190cc2b8@ec2-52-215-209-64.eu-west-1.compute.amazonaws.com:5432/da9hsa4ao666jk

# If not provided, a random one is generated 
# SECRET_KEY=<YOUR_SUPER_KEY_HERE>


# If DB credentials (if NOT provided, or wrong values SQLite is used) 
# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=appseed_db
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass
# DB_PORT=3306


DB_ENGINE=postgresql  # PostgreSQL is being used
DB_HOST=ec2-34-241-91-20.eu-west-1.compute.amazonaws.com
DB_NAME=d532klhpqjl20d
DB_USERNAME=rwbzqirjddtzli
DB_PASS=bc39e216062025bf73df1a7a5b80ba49fa698d9d8391d6a74abad3918a8cf02f
DB_PORT=5432